<div style="margin: 0 auto; display: flex; flex-direction: column; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-width: 600px; width: 100%; padding: 15px;">
{{> header }}
{{{ body }}}
{{> footer }}
</div>
