<strong>Olá, {{ student }}</strong>

<p>Obrigado por entrar em contado, confira os detalhes de seu pedido abaixo:</p>
<p>
  <strong>Sua pergunta:</strong> {{ question }}  <br />
  <strong>Resposta do instrutor:</strong> {{ answer }} <br /><br />
  <small>Se ainda restarem duvidas, favor criar um novo pedido.</small>
</p>
